:root {
  --primary-color: #aa1704;
  --secondary-color: aqua;
  --table-border-color: black;
  --hover-shadow: 0 0 30px -5px white, 0 0 10px -7px white,
    0 55px 35px -20px rgba(0, 0, 0, 0.5);
  --font-family: Arial, sans-serif;
  --card-width: 250px;
  --card-height: 350px;
  --border-radius: 20px;
  --type-color: aqua;
}
body {
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-position: center;
  margin: 0;
  width: 100%;
}
header {
  background-color: var(--primary-color);
  border: 2px solid var(--secondary-color);
  padding: var(--padding);
  height: 144px;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
}
.logo {
  text-decoration: none;
}
h1 {
}
.headline-icon {
  width: 80px;
}
main {
  flex: 1;
  width: 100%;
  background-image: url(./imgs/background/background-electric.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.main-wrapper {
  text-align: center;
  color: rgb(158, 7, 7);
  z-index: 2;
}
footer {
  background-color: #aa1704;
  color: rgb(11, 11, 11);
  text-align: center;
  display: flex;
  align-items: center;
  width: 100%;
  height: 144px;
  justify-content: center;
}
.headline-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

#back-to-pokedex {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--secondary-color);
  color: black;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}
#back-to-pokedex:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
.button {
  font-size: 1rem;
  text-align: center;
  background-color: var(--secondary-color);
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px;
  border: 1px solid black;
  border-bottom: 5px solid black;
}
