:root {
    --primary-color: #0a5485;
    --secondary-color: aqua;
    --table-border-color: black;
    --hover-shadow: 0 0 30px -5px white, 0 0 10px -7px white, 0 55px 35px -20px rgba(0, 0, 0, 0.5);
    --font-family: Arial, sans-serif;
    --card-width: 250px;
    --card-height: 350px;
    --border-radius: 20px;
    --type-color: aqua;
  }

body{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header {
    background-color: var(--primary-color);
    border: 2px solid var(--secondary-color);
    border-radius: var(--border-radius);
    padding: var(--padding);
    position: sticky;
    top: 0;
    z-index: 100;
  }
  .header-content,
  .headline-box,
  .pokemon-card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    text-decoration: none;
  }
  .headline-icon {
    width: 80px;
  }


  footer {
    background-color: rgb(1, 48, 9);
    color: rgb(11, 11, 11);
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
  }