
.adsimple-322947329 {
  margin-bottom: 1rem;
}

.adsimple-322947329.fusion-responsive-typography-calculated {
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  color: #fff;
}

.footer {
  margin-top: 0;
}


.impressum-page .header .headline-icon.animate-logo {
  animation: bounce 2s ease-in-out;
}
