.search-input {
  padding: 5px 10px !important;
  border-radius: var(--border-radius);
  border: 3px solid black;
  box-sizing: border-box;
  margin-top: -8px !important;
  transform: translateY(-7px) !important;
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .search-input {
    transform: translateY(-3px) !important;
    margin-top: 0px !important;
  }
}

@media (width: 768px) {
  .search-input {
    transform: translateY(-1px) !important;
  }
}

@media (width: 540px) and (height: 720px), 
       (width: 1280px) and (height: 800px) {
  .search-input {
    transform: translateY(1px) !important;
  }
}
.pokemon-content {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pokedex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  padding: 50px;
}
.pokemon-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: var(--card-width);
  height: var(--card-height);
  padding: 15px;
  border: 3px solid var(--secondary-color);
  border-radius: var(--border-radius);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.pokemon-card:hover {
  transform: translateY(-5px) scale(1.2);
  box-shadow: var(--hover-shadow);
}
.pokemon-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: bold;
  font-size: 16px;
  border-bottom: 1px solid aqua;
}
.pokemon-name {
  font-size: 25px;
}
.pokemon-number {
  font-size: 1.5rem;
  font-weight: bold;
}
.pokemon-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.pokemon-image {
  width: auto;
  height: auto;
}
.pokemon-image {
  width: 240px !important;
  height: 240px !important;
  transition: transform 0.3s ease;
}
.pokemon-card:hover .pokemon-image {
  transform: scale(1.1);
  cursor: pointer;
}
.type-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 5px 10px;
  border-radius: 15px;
  border: 3px solid black;
  font-weight: bold;
  text-transform: capitalize;
  color: black;
  background-color: var(--type-color);
  cursor: pointer;
  transition: background-color 0.3s, filter 0.3s;
  max-width: 120px;
  min-width: 90px;
  height: 50px;
}
.type-button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5px;
}
.type-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  filter: drop-shadow(0 4px 8px rgba(255, 255, 255, 1.1));
  margin-bottom: 5px;
}
.details-card .type-button:hover {
  background-color: var(--type-color);
  filter: none;
  margin-bottom: 0;
}
.pokemon-card img {
  width: 120px;
  height: 120px;
}
.pokemon-card h3 {
  margin: 10px 0;
  text-transform: capitalize;
}
.pokemon-card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35px;
  padding: 10px 0;
  gap: 10px;
  border-radius: 20px;
}
.type-icon {
  width: 35px !important;
  height: 35px !important;
  object-fit: contain;
  background-color: var(--type-color);
}
.pokemon-card:hover:before,
.pokemon-card:hover:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(
    115deg,
    transparent 20%,
    var(--color1) 36%,
    var(--color2) 43%,
    var(--color3) 50%,
    var(--color4) 57%,
    var(--color5) 64%,
    transparent 80%
  );
  background-position: 50% 50%;
  background-size: 250% 250%;
  mix-blend-mode: color-dodge;
  opacity: 0.88;
  filter: brightness(0.66) contrast(1.33);
  transition: opacity 0.5s ease;
}
.detail-overlay {
  display: flex;
  flex-direction: column;
  height: 300px;
}
.tab-content {
  flex: 1;
  overflow-y: auto;
}

#Moves.tab-content {
  overflow-y: visible;
}

#About.tab-content {
  padding-right: 10px;
  margin-right: -0.75rem;
}

#BaseStats.tab-content {
  padding-right: 10px;
  margin-right: -0.75rem;
}

.stat-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
  font-size: 1rem;
}

.stat-row span:first-child {
  flex: 1;
  min-width: 100px;
  margin-right: 15px;
}

.stat-row progress {
  height: 30px;
  margin-right: 10px;
  flex-shrink: 0;
}

.stat-row span:last-child {
  width: 30px;
  text-align: right;
  flex-shrink: 0;
}

.moves-container {
  max-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6px;
  padding-top: 20px;
}


.move-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 6px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: var(--border-radius);
  border: 2px solid var(--table-border-color);
}

.move-name {
  font-weight: normal;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  flex: 1;
  hyphens: manual;
  -webkit-hyphens: manual;
  -moz-hyphens: manual;
  -ms-hyphens: manual;
  word-break: break-word;
  overflow-wrap: break-word;
  font-size: 0.85rem;
}

.move-method {
  font-size: 0.9rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 4px 8px;
  border-radius: 12px;
  text-transform: capitalize;
}
#BaseStats {
  padding: 10px 0;
  font-size: 1.1rem;
}

#BaseStats .tab-table {
  padding-top: 10px;
}

#BaseStats .tab-table td {
  display: flex;
  align-items: center;
  gap: 10px;
}

#BaseStats .tab-table progress {
  height: 20px;
}
.details-card {
  padding: 1.5rem;
  border-radius: 15px;
  max-width: 90%;
  position: relative;
  color: #fff;
}

.details-card {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-height: 80vh;
  height: 900px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  border: 3px solid var(--secondary-color);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.details-card.moves-active {
  padding: 5px;
}
.details-card:hover {
  transform: translateY(-5px) scale(1.02);
  box-shadow: var(--hover-shadow);
}
.details-card:hover:before,
.details-card:hover:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(
    115deg,
    transparent 20%,
    rgba(255, 0, 0, 0.3) 36%,
    rgba(0, 255, 0, 0.3) 43%,
    rgba(0, 0, 255, 0.3) 50%,
    rgba(255, 255, 0, 0.3) 57%,
    rgba(255, 0, 255, 0.3) 64%,
    transparent 80%
  );
  background-position: 50% 50%;
  background-size: 250% 250%;
  mix-blend-mode: color-dodge;
  opacity: 0.88;
  filter: brightness(0.66) contrast(1.33);
  transition: opacity 0.5s ease;
  border-radius: 15px;
  pointer-events: none;
  z-index: 1;
}
.details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.details-image {
  padding: 10px;
  max-width: 86%;
  max-height: 431px;
  width: auto;
  height: auto;
  display: block;
  margin: 0 auto;
  object-fit: contain;
}
.details-header span {
  margin-left: auto;
}
#arrowDiv {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}
#access .stat-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #00698f;
}
#access .stat-row {
  background-color: #f7f7f7;
  padding: 1rem;
  border-top: 1px solid #ddd;
}
#About .tab-table {
  padding-top: 15px;
}
@media (max-width: 431px) {
  .pokedex-container {
    padding: 20px;
  }
  #About .tab-table table {
    font-size: 0.8rem;
  }
  #BaseStats .tab-table table {
    font-size: 0.8rem;
  }
  #BaseStats .tab-table th,
  #BaseStats .tab-table td {
    padding: 5px;
  }
  .details-card {
    display: flex;
    flex-direction: column;
    transition: opacity 0.3s ease;
  }
  .details-card {
    background-image: linear-gradient(
      115deg,
      transparent 20%,
      rgba(255, 0, 0, 0.15) 36%,
      rgba(0, 255, 0, 0.15) 43%,
      rgba(0, 0, 255, 0.15) 50%,
      rgba(255, 255, 0, 0.15) 57%,
      rgba(255, 0, 255, 0.15) 64%,
      transparent 80%
    );
    background-position: 50% 50%;
    background-size: 250% 250%;
    background-attachment: local;
  }
  .details-card:hover:before,
  .details-card:hover:after {
    display: none;
  }
  .search-input {
    margin: 3px;
    margin-top: 3px;
    margin-bottom: 8px;
    padding-bottom: 12px;
  }
}

@media (max-width: 365px) {
  .pokedex-container {
    padding: 15px;
  }
  .move-name {
    font-size: 0.8rem;
    font-weight: 500;
  }
  .move-method {
    font-size: 0.7rem;
    padding: 2px 6px;
  }
  .moves-container {
    gap: 6px;
  }
  .move-item {
    padding: 4px 6px;
  }
}

@media (max-width: 310px) {
  .pokemon-card {
    width: 90%;
    height: 300px;
  }
  .pokemon-image {
    width: 150px;
    height: 150px;
  }
  .overlay {
    max-width: 90vw;
    font-size: 0.9rem;
  }
  table {
    display: flex;
    flex-direction: column;
  }
}
