/* ------------------------------------------- All abaut Global Styles ------------------------------------------- */
:root {
  --primary-color: #0a5485;
  --secondary-color: aqua;
  --table-border-color: black;
  --hover-shadow: 0 0 30px -5px white, 0 0 10px -7px white, 0 55px 35px -20px rgba(0, 0, 0, 0.5);
  --font-family: Arial, sans-serif;
  --card-width: 250px;
  --card-height: 350px;
  --border-radius: 20px;
  --type-color: aqua;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--font-family);
  background-image: url(./imgs/background/Designer.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
main {
  flex-grow: 1;
}
/* ------------------------------------------- All abaut Header ------------------------------------------- */
.header {
  background-color: var(--primary-color);
  border: 2px solid var(--secondary-color);
  border-radius: var(--border-radius);
  padding: var(--padding);
  position: sticky;
  top: 0;
  z-index: 100;
}
.header-content,
.headline-box,
.pokemon-card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  text-decoration: none;
}
.headline-icon {
  width: 80px;
}
.headline {
  color: white;
}
.search-input {
  padding: 10px;
  border-radius: var(--border-radius);
}
/* ------------------------------------------- All abaut Main Content ------------------------------------------- */
.pokemon-content {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pokedex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  padding: 50px;
}
.pokemon-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 250px;
  height: 350px;
  padding: 15px;
  border: 3px solid var(--secondary-color);
  border-radius: var(--border-radius);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.pokemon-card:hover {
  transform: translateY(-5px) scale(1.2);
  box-shadow: var(--hover-shadow);
}
.pokemon-card-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: bold;
  font-size: 16px;
  border-bottom: 1px solid aqua;
}
.pokemon-name {
  font-size: 25px;
}
.pokemon-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.pokemon-image {
  width: auto;
  height: auto;
}
.pokemon-image {
  width: 240px !important;
  height: 240px !important;
  transition: transform 0.3s ease;
}
.pokemon-card:hover .pokemon-image {
  transform: scale(1.1);
  cursor: pointer;
}
.type-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 5px 10px;
  border-radius: 15px;
  border: 3px solid black !important;
  font-weight: bold;
  text-transform: capitalize;
  color: black !important;
  background-color: aqua !important;
  cursor: pointer;
  transition: background-color 0.3s, filter 0.3s;
  max-width: 120px;
  min-width: 90px;
  height: 50px !important;
}
.type-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  filter: drop-shadow(0 4px 8px rgba(255, 255, 255, 1.1));
}
/* ------------------------------------------- All abaut Pokemon Card ------------------------------------------- */
.pokemon-card {
  --color1: #ff000045;
  --color2: #00ff0048;
  --color3: #0000ff57;
  --color4: #ffff0063;
  --color5: #ff00ff7b;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  height: 350px;
  padding: 15px;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.pokemon-card:hover {
  transform: translateY(-5px) scale(1.2);
  box-shadow: 0 0 30px -5px white, 0 0 10px -7px white,
    0 55px 35px -20px rgba(0, 0, 0, 0.5);
}
.pokemon-card img {
  width: 120px;
  height: 120px;
}
.pokemon-card h3 {
  margin: 10px 0;
  text-transform: capitalize;
}
.pokemon-card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35px;
  padding: 10px 0;
  gap: 10px;
  border-radius: 20px;
}
.type-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 5px 10px;
  border-radius: 15px;
  border: 3px solid black;
  font-weight: bold;
  text-transform: capitalize;
  color: black;
  cursor: pointer;
  background-color: var(--type-color);
  transition: 0.3s;
  max-width: 120px;
  overflow: hidden;
}
.type-icon {
  width: 35px !important;
  height: 35px !important;
  object-fit: contain;
  background-color: aqua !important;
}
.pokemon-card:hover:before,
.pokemon-card:hover:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(
    115deg,
    transparent 20%,
    var(--color1) 36%,
    var(--color2) 43%,
    var(--color3) 50%,
    var(--color4) 57%,
    var(--color5) 64%,
    transparent 80%
  );
  background-position: 50% 50%;
  background-size: 250% 250%;
  mix-blend-mode: color-dodge;
  opacity: 0.88;
  filter: brightness(0.66) contrast(1.33);
  transition: opacity 0.5s ease;
}
/* ------------------------------------------- All abaut Overlay Cards ------------------------------------------- */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.detail-overlay {
  display: flex;
  flex-direction: column;
  height: 300px;
}
.tab-content {
  flex: 1;
  overflow-y: auto;
}
.stat-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.details-card {
  background: white;
  padding: 3rem;
  border-radius: 15px;
  max-width: 90%;
  position: relative;
  color: #333;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-height: 160vh;
  height: 800px;
  overflow-y: auto;
}
.details-header {
  display: flex;
  justify-content: space-between; /* Verteilt Elemente horizontal */
  align-items: center; /* Vertikal zentriert */
}

.details-header span {
  margin-left: auto; /* Schiebt den Span nach rechts */
}

/* Tab Buttons */
.tab-container {
  display: flex;
  justify-content: center; /* Zentriert die Buttons */
}

.tab-button {
  font-size: 1.5rem; /* Größe eines h3 */
  text-align: center;
  background-color: var(--secondary-color); /* Aqua-Hintergrund */
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px;
  border: 1px solid black; /* Schwarzer Rand */
  border-bottom: 5px solid black; /* Untere Border */
}

.tab-button.active {
  font-weight: bold;
  /*Optionale zusätzliche Stile für den aktiven Button*/
}
.footer {
  background-color: rgb(1, 48, 9);
  color: rgb(11, 11, 11);
  text-align: center;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  position: relative;
}

.no-scroll {
  overflow: hidden;
}
.load-more-btn {
  padding: 1rem 2rem;
  margin: 2rem auto;
  display: block;
}
#access .stat-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #00698f;
}
#access .stat-row {
  background-color: #f7f7f7;
  padding: 1rem;
  border-top: 1px solid #ddd;
}
#About .tab-table table {
  font-size: 1.1rem;
  width: 100%;
  border-collapse: collapse;
  border: 2px solid var(--table-border-color);
}
#About .tab-table tr {
  border-bottom: 1px solid #ddd;
}
#About .tab-table th,
#About .tab-table td {
  padding: 1rem;
  text-align: left;
}
#About .tab-table th {
  font-weight: bold;
  background-color: #f0f0f0;
}
.arrow-button {
  position: absolute; /*Positioniert die Pfeile absolut*/
  bottom: 0; /*Positioniert am unteren Rand*/
  width: 40px; /*Legt die Breite der Pfeile fest*/
  height: 60px; /*Legt die Höhe der Pfeile fest*/
  border-radius: 8px; /*Rundet die Ecken ab*/
  font-size: 24px; /*Legt die Schriftgröße fest*/
  transition: all 0.3s; /*Fügt eine Übergangsanimation hinzu*/
  background-color: aqua; /*Legt die Hintergrundfarbe fest*/
  color: rgb(7, 7, 7); /*Legt die Textfarbe fest*/
  cursor: pointer; /*Ändert den Cursor in einen Zeiger*/
}
.arrow-button:hover {
  background: rgba(255, 255, 255, 0.8);
  color: #000;
}
.arrow-button.prev {
  left: 10px;
}
.arrow-button.next {
  right: 10px;
}
.loading-indicator {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  font-size: 20px;
  z-index: 1000;
}
/* ------------------------------------------- All abaut Footer ------------------------------------------- */
.footer {
  background-color: rgb(1, 48, 9);
  color: rgb(11, 11, 11);
  text-align: center;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
}
.footer {
  width: 100%;
}
/* ------------------------------------------- All abaut Responsive ------------------------------------------- */
@media (max-width: 431px) {
  .header-content {
    flex-direction: column;
  }
}
@media (max-width: 365px) {
  .header-content {
    width: auto;
  }
  .pokedex-container {
    padding: 20px;
  }
}
@media (max-width: 310px) {
  .pokemon-card {
    width: 90%;
    height: 300px;
  }
  .pokemon-image {
    width: 150px !important;
    height: 150px !important;
  }
  .header-content {
    flex-direction: column;
  }
  .overlay {
    max-width: 90vw;
    font-size: 0.9rem;
  }
  .arrow-button {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: #f0f0f0;
  }
  table {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 5em) {
  .details-image {
    width: 80%;
  }
}

@media (max-width: 431px) {
  #About .tab-table table {
    font-size: 0.8rem; /* Kleinere Schriftgröße */
  }

  /* Fixierte Arrow Buttons im Footer */
  .arrow-button {
    position: static; /* Entfernt die absolute Positionierung */
    transform: none; /* Entfernt die Transformation */
    margin: 10px; /* Fügt etwas Abstand hinzu */
  }

  .details-card {
    display: flex;
    flex-direction: column;
    transition: opacity 0.3s ease; /* Füge eine Transition für die Deckkraft hinzu */
  }

  .footer {
    display: flex;
    flex-direction: row; /* Ordnet die Buttons nebeneinander an */
    justify-content: center; /* Zentriert die Buttons horizontal */
    align-items: center; /* Zentriert die Buttons vertikal */
  }
}
